*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Inputs */
.inputBox {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 100%;
}

.inputBox:focus {
  border-color: #3b50ce;
}

/* Stepper */
.stepper {
  display: flex;
  align-items: center;
  margin: 20px 0;
  margin-left: 200px;
}

.step-wrapper {
  display: flex;
  align-items: center;
}

.step-circle {
  width: 32px;
  height: 32px;
  background: #bfbfbf;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.step-circle.active {
  background: #3b50ce;
}

.step-label {
  margin-left: 8px;
  margin-right: 20px;
  color: gray;
}

.step-label.active-label {
  color: black;
  font-weight: bold;
}

.step-line {
  width: 70px;
  height: 2px;
  background: #ccc;
  margin-right: 20px;
}

/* Bottom Buttons */
.button-div {
  position: fixed;
  bottom: 0;
  left: 0;
  background: ghostwhite;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  box-shadow: 0 -3px 8px rgba(0, 0, 0, 0.1);
}

.button-div button {
  width: 100px;
  height: 40px;
  border-radius: 6px;
  cursor: pointer;
}

#next {
  background: palevioletred;
  color: white;
  border: none;
}

#back {
  background: lightgray;
}

#save_continue {
  background: steelblue;
  color: white;
  border: none;
}


.heading{
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: palevioletred;
    color: white;
    padding: 10px;
}


.stepper{
    align-items: center;
    display: flex;
    justify-content: center;
}

.profile-heading{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    color: grey;
}

.inputBox{
    margin-left: 20px;
    margin-right: 20px;
    height: 40px;
}

.img-div{
    margin-left: 20px;
    height: 40px;
}


.button-div {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 20px;
    background-color: ghostwhite;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
}

/* All buttons */
.button-div button {
    width: 100px;
    height: 40px;   /* FIXED -> px */
    border-radius: 6px;
    border: 1px solid #ccc;
    cursor: pointer;
}

/* NEXT button styling */
#next {
    background-color: palevioletred;
    border: none;
    color: white;
    font-weight: bold;
}

/* BACK button */
#back {
    background-color: lightgray;
}



#save_continue {
    background-color: steelblue;
    color: white;
    border: none;
}